html
  head
    link(src= "../public/stylesheet/main.css")

    style
      include ../public/stylesheet/main.css

  body
    red FBI WARNING
    p Federal Law provides severe civil and criminal penalties
    p for the inauthorized reproduction, distribution, retailing,
    p broadcasting, streaming & downloading or exhibition of
    p copyrighted motion pictures and video tapes / DVDs.
    p Criminal copyright infringement is investigated by the FBI
    p and may constitute a felony with a maxmum penalty of up
    p to five years in prison or $250,000 fine.
    br
    p (Title 17 U. S. Code, Section 501, 506 and 508)
