html
  head
    link(rel='Styles', src='/colors.css')
    title=title
    style
      include ../Styles/colors.css
  body

    div(style={'font-size': '11pt'}) nexusA
    hr
    amber 안녕하세요
    p 안녕하세요
    a(style={color: '#4CAF50'}) abcd
