html
  head
    link(src= "../public/stylesheet/main.css")

    style

      include ../public/stylesheet/main.css

  body
    red.robo FBI WARNING
    p.robo Federal Law provides severe civil and criminal penalties
    p.robo for the inauthorized reproduction, distribution, retailing,
    p.robo broadcasting, streaming & downloading or exhibition of
    p.robo copyrighted motion pictures and video tapes / DVDs.
    p.robo Criminal copyright infringement is investigated by the FBI
    p.robo and may constitute a felony with a maxmum penalty of up
    p.robo to five years in prison or $250,000 fine.
    br
    p.robo (Title 17 U. S. Code, Section 501, 506 and 508)
